@page "/sweepstake"
@rendermode InteractiveServer

<PageTitle>Sweepstake Generator</PageTitle>

<h1>Sweepstake Generator</h1>


<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="Randomise">Randomise</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Secondary" @onclick="Reveal">Reveal</MudButton>

<br />
<br />

<div class="row">
    <div class="column">
        <h1>Assigned Teams</h1>
        <MudTable Items="@DisplayedResults" Hover="true" SortLabel="Sort By" Height="85vh" RowStyleFunc="RowStyleFunc" FixedHeader="true" Dense="true">
            <HeaderContent>
                <MudTh><MudTableSortLabel SortBy="new Func<(int, string, string), object>(x=>x.Item1)">Pool</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<(int, string, string), object>(x=>x.Item2)">Team</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<(int, string, string), object>(x=>x.Item3)">Person</MudTableSortLabel></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Pool">@context.Item2</MudTd>
                <MudTd DataLabel="Team">@context.Item3</MudTd>
                <MudTd DataLabel="Person">@context.Item4</MudTd>
            </RowTemplate>
        </MudTable>
    </div>
    <div class="column">
        <h1>Remaining Teams</h1>
        <MudGrid Justify="Justify.Center">
            @if (Pool1Remaining.Any())
            {
                <MudItem Style="width:300px;">
                    <MudPaper>
                        <MudList>

                            <MudListSubheader>Pool 1</MudListSubheader>
                            @foreach (var item in Pool1Remaining)
                            {
                                <MudListItem>@item.Key - @item.Value</MudListItem>
                            }

                        </MudList>
                    </MudPaper>
                </MudItem>
            }
            @if (Pool2Remaining.Any())
            {
                <MudItem Style="width:300px;">
                    <MudPaper>
                        <MudList>

                            <MudListSubheader>Pool 2</MudListSubheader>
                            @foreach (var item in Pool2Remaining)
                            {
                                <MudListItem>@item.Key - @item.Value</MudListItem>
                            }

                        </MudList>
                    </MudPaper>
                </MudItem>
            }
            @if (Pool3Remaining.Any())
            {
                <MudItem Style="width:300px;">
                    <MudPaper>
                        <MudList>

                            <MudListSubheader>Pool 3</MudListSubheader>
                            @foreach (var item in Pool3Remaining)
                            {
                                <MudListItem>@item.Key - @item.Value</MudListItem>
                            }

                        </MudList>
                    </MudPaper>
                </MudItem>
            }
            @if (Pool4Remaining.Any())
            {
                <MudItem Style="width:300px;">
                    <MudPaper>
                        <MudList>

                            <MudListSubheader>Pool 4</MudListSubheader>
                            @foreach (var item in Pool4Remaining)
                            {
                                <MudListItem>@item.Key - @item.Value</MudListItem>
                            }

                        </MudList>
                    </MudPaper>
                </MudItem>
            }
            @if (Pool5Remaining.Any())
            {
                <MudItem Style="width:300px;">
                    <MudPaper>
                        <MudList>

                            <MudListSubheader>Pool 5</MudListSubheader>
                            @foreach (var item in Pool5Remaining)
                            {
                                <MudListItem>@item.Key - @item.Value</MudListItem>
                            }

                        </MudList>
                    </MudPaper>
                </MudItem>
            }
            @if (Pool6Remaining.Any())
            {
                <MudItem Style="width:300px;">
                    <MudPaper>
                        <MudList>

                            <MudListSubheader>Pool 6</MudListSubheader>
                            @foreach (var item in Pool6Remaining)
                            {
                                <MudListItem>@item.Key - @item.Value</MudListItem>
                            }

                        </MudList>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </div>
</div>
